@import url(https://fonts.googleapis.com/css2?family=Philosopher:wght@100;200;300;400;500;600;700&display=swap);
.header-section{
    font-size: 72px;
    font-weight: 400;
    line-height: 72px;
    font-family: 'Philosopher', sans-serif;
  
}
.two-item{
    margin-top: 100px;
    background-image: url(./images/Bitmap\ \(1\).png);
width: 1280px;
height: 600px;
top: 113px;
left: 80px;
}
.four-img{
    background-image: url(./images/Group\ 13.png);
}
.gent{
    top: 50px;
    left: 50px;
    position: relative;
}
.font{
    font-family: 'Philosopher', sans-serif;
font-size: 24px;
font-weight: 900;
line-height: 32px;
font-family: 'Philosopher', sans-serif;
text-align: center;

}

/* coffes */
.tt{
    display: flex;
    margin-top: 100px;
}
.tt img{
    width: 255px;
    height: 193px;
}
/* section three cards */
.section-cards{
    margin-top: 50px;
    
}
.section-card{
    background-color: #0E8784;
    color: #fff;
    width: 350px;
    height: 382px;
}
.textcha{
    font-weight: 400;
    font-size: 1rem;
    line-height: 26px;
    text-align: center;
}
.choose-card{
    background-color: #0E8784;

}
.aylana{
    width: 25px;
    height: 25px;
    display: block;
    border: solid 2px #0E8784;
    
}
.line{
width: 150px;    
height: 2px;
 border: 2px solid rgba(253, 214, 186, 1)
}
i{
color: #fff;
    margin-right: 30px;
    font-size: 20px;
}
  /* About-section */
  .main-card{
    background-image: url(./images/Group\ 7\ \(1\).png);
  }